*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
    position: fixed;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background-color: #FF7B00;
    height: 15vh;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 1024;
}

.nav-items{
    display: flex;
    gap: 50px;
}
.nav-item{
    display: flex;
    align-items: center;
    list-style: none;
    transition: 0.3s ease-in-out;
}
.nav-item.active{
    background-color: #FFD60A;
    border-radius: 10px;
}

.nav-item:hover{
    background-color: #FFD60A;
    border-radius: 10px;
    transform: scale(1.2);
}

.nav-link{
    position: relative;
    font-weight: 700;    
    margin: 5px;
    text-decoration: none;
    font-size: 20px;
    color: #001D3D;
}

.search-box{
    width: 400px;
    display: flex;
    justify-content: center;
    height: 0.1rem;
}

.search-input{
	border: none;
	background-color: wheat;
    height: 40px;
    width: 240px;
	outline: 0;
    border-radius: 10px 0 0 10px;
    padding: 10px ;
}

.search-button{
    background-color: white;
    height: 40px;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
    color: black;
    padding-top: 9px;
}
.cart-size{
    position: relative;
}

.cart-icon{
    font-size: 60px;
}

.cart-count{
    width: 30px;
    min-width: 30px;
    max-width: 30px;
    position: absolute;
    text-align: center;
    background-color: #001D3D;
    color: white;
    padding: 4px;
    border-radius: 50%;
    right: 0px;
}