*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.categories-container {
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}


.categories-container::-webkit-scrollbar {
    display: none;
}

.restaurant-items{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.restaurant-items::-webkit-scrollbar{
    display: none;
}


.meals-items-otmane{
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    overflow: scroll;
}

.meals-items-otmane::-webkit-scrollbar{
    display: none;
}

.main-title{
    margin-left: 20px;
}

.restaurant .title{
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 0;
}

.meals .title{
    margin: 20px;
    font-size: 25px;
}