*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.rest-card{
    cursor: pointer;
    background-color: white;
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    margin: 20px 10px 20px 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: 0.3s;
}

.rest-card:hover{
    transform: scale(1.1);
}
.cover-image-rest{
    width: 100%;
}

.img-cover{
    width: 100%;
    background-size: cover;
}
.brand-image-rest{
    width: 50px;
    position: absolute;
    border-radius: 20%;
    left: 7%;
    top: 50%;
}

.img-brand{
    border: 3px solid white;
    width: 100%;
    border-radius: 20%;
    background-size: cover;
}

.info-rest{
    margin-top: 10px;
    padding: 10px;
}

.rest-name{
    font-size: 25px;
    font-weight: 700;
}
.rest-desc{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
}

.rest-rat{
    display: flex;
    margin-right: 10px;
}