.signupContainer {
 display: flex;
 flex-direction: column;
 height: 90%;
}

.signupForm {
 border: 1px solid #ccc;
 padding: 10px;
 border-radius: 8px;
 border: none;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label {
 display: block;
 margin-bottom: 4px;
}

.input {
 width: 100%;
 padding: 6px;
 margin-bottom: 16px;
 border: 1px solid #ccc;
 border-radius: 4px;
}

.input.invalid {
 border-color: #ff4d4f;
}

.button {
 background-color: var(--main-color);
 color: white;
 padding: 10px;
 border: none;
 border-radius: 4px;
 cursor: pointer;
}


button:disabled {
 background-color: #a5a5a5;
 cursor: not-allowed;
}

button:hover:enabled {
 background-color:  var(--second-color);
}
